*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  /*text-align: center;*/
  letter-spacing: -3px;
  font-size: 3.25rem;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  margin: .85rem 0 1.7rem 0;
}